:root {
  --ff-primary: "Fira Sans", sans-serif;

  --clr-neutral-100: #ededed;
  --clr-neutral-700: #444444;
  --clr-neutral-900: #171717;

  --clr-highlight-400: #da0037;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

body {
  background: black;
  font-family: var(--ff-primary);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/* Landing Page - Heading */
h1 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  z-index: 1;
}

/* Landing Page - NAV BAR   */
.navBar {
  align-items: center;
}

.navList {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navLink {
  border: solid 1px var(--clr-neutral-100);
  border-radius: 10px;
  color: var(--clr-neutral-100);
  font-size: 01em;
  font-weight: 200;
  padding: 0.5em 1em;
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
}

a:hover {
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* Landing Page - mainIMG */
.mainIMG {
  max-width: 100%;
  height: auto;
}

/* Content Section - About Me */
.aboutMe {
  margin: 0 auto;
  padding: 2em;
  max-width: 90%;
}

.aboutMeText {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-weight: 100;
}

.aboutMeTextHeader {
  font-family: var(--ff-primary);
  text-align: center;
}

.aboutMeTextLine {
  padding: 1em;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeIMG {
  max-width: 100%;
}

/* VIDEO REELS */
.videoReel {
  display: block;
  margin: 0 auto;
}

.vimeoButton {
  background-color: var(--clr-neutral-900);
  border-radius: 10px;
  font-family: var(--ff-primary);
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em 3em;
}

.vimeoButton:hover {
  background-color: var(--clr-neutral-100);
  transition: ease-in-out;
}

.vimeoLink {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 1.8em;
  font-weight: 100;
  text-decoration: none;
}

.vimeoLink:hover {
  color: var(--clr-neutral-900);

  pointer: cursor;
}

/* GALLERY */

/* SPLIT EFFECT */
.split {
  display: flex;
  flex-direction: column;
}

/* media query */
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {
  h1 {
    color: var(--clr-neutral-100);
    font-family: var(--ff-primary);
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    z-index: 1;
  }

  .navLink {
    border: solid 1px var(--clr-neutral-100);
    border-radius: 10px;
    color: var(--clr-neutral-100);
    font-weight: 200;
    padding: 0.5em 1em;
    text-decoration: none;
  }
}
