:root {
  --ff-primary: "Fira Sans", sans-serif;

  --clr-neutral-100: #ededed;
  --clr-neutral-700: #444444;
  --clr-neutral-900: #171717;

  --clr-neutral-900-shadow: #e9e9e9; 

  --clr-highlight-400: #da0037;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

body {
  background: black;
  font-family: var(--ff-primary);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/* Landing Page - Heading */
h1 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  z-index: 1;
}

h2 {
  color: var(--clr-neutral-100);
}

.darkH2 {
  color: var(--clr-neutral-900);
}

hr {
  color: var(--clr-neutral-100);
}

.darkHR {
  color: var(--clr-neutral-900);
}

/* Landing Page - NAV BAR   */
.navBar {
  align-items: center;
}

.navList {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 1em;
}

.navLink {
  color: var(--clr-neutral-100);
  font-size: 1em;
  font-weight: 200;
  padding: 0.5em 1em;
  text-decoration: none;
}

.navLink:hover {
  font-weight: 400;
}

a:visited {
  color: var(--clr-neutral-100);
}

a:hover {
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* Landing Page - mainIMG */
.mainIMG {
  max-width: 100%;
  height: auto;
}

/* Content Section - About Me */
.aboutMe {
  margin: 0 auto;
  padding: 2em;
  max-width: 90%;
  margin-top: 2em;
}

.aboutMeText {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-weight: 100;
}

.aboutMeTextHeader {
  font-family: var(--ff-primary);
  text-align: center;
}

.aboutMeTextLine {
  padding: 1em;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeIMG {
  max-width: 100%;
}


/* COLOR GRADIENT FADE  */
/* 
.blackToWhiteGradient{
  background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255, 5)); 
  height: 15vh; 
  
} */


/* VIDEO REELS */




.videoReels {
  padding: 5%;
}

.mainReel{
  max-width: 95%; 
  display: block; 
  margin: 0 auto; 
}

.videoReel {
  padding: 5% 10%;
  padding-top: 0;
  display: block;
  margin: 0 auto;
}

.vimeoButton {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
}


.vimeoLink {
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  font-size: 1.8em;
  font-weight: 100;
  text-decoration: none;
}

.vimeoLink:hover {
 cursor: pointer; 
  text-decoration: underline; 
}


/* GALLERY */

.imageGallery {
  margin-top: 2em;
  padding-bottom: 2em;
  padding: 5%;
}


.galleryContainerTop {
  padding: 1em; 
  column-count: 2; 
}


.shiftDown {
padding-top: 3em; 
}


.galleryContainer {
  padding: 1em; 
  column-count: 3;
   margin: 0 auto; 
}


.galleryImage{
  width: 100%; 
  margin-bottom: .5em; 
 
}



/*WORK */

.projectsHeader {
  color: var(--clr-neutral-900);
  text-align: right;
}

.pastProjects {
  background-color: var(--clr-neutral-100);
  padding: 5%;
}

.filmPhoto {
  max-height: 50vh;
  max-width: 100%;
}

.projectsItem {
  margin-top: 0.5em;
  padding: 0.5em;
}

.projectsItem:hover {
 background-color: var(--clr-neutral-900-shadow); 
}

.projectTitle {
  font-size: 1em;
  font-weight: 400;
}

.projectLink {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.projectLink:hover {
  text-decoration: underline;
  color: var(--clr-neutral-900);
}

.projectLink:visited {
  color: var(--clr-neutral-900);
}

.projectDetails {
  font-size: 1em;
}

.projectDirector {
  font-size: 1em;
}

.projectAwards {
  font-weight: 500;
}

/* CONTACT INFO */

.contactJenny{
  background-color: var(--clr-neutral-100); 
  height: 20vh; 
}


.contactJenny-button{
  border: none; 
  padding: 1.5em; 
  display: block; 
  margin: 0 auto; 
  margin-bottom: 2em; 
  border-radius: 10px; 
  padding: 1em; 
}

.contactJenny-link{
  color: var(--clr-neutral-900); 
  text-decoration: none; 
  font-family: var(--ff-primary); 
  font-size: 2em; 
  font-weight: 100; 
  letter-spacing: .05em; 
  text-transform: uppercase; 
}

.contactJenny-link:visited{
  color: var(--clr-neutral-900); 
}

.contactJenny-link:hover{
  color: var(--clr-neutral-900); 
  text-decoration: underline; 
}



/* Social Media Links */

.socialMediaAccounts{


}

.instagramIcon{
  size: 25px; 
}

.instagramLink{
  background-color: black; 
  color: black;
  text-align: center; 
}

/* end of Social Media links */

.representationContact {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 5%;
}

.repSectionHeader {
  text-align: left;
}

.repGroup {
  border-left-style: solid var(--clr-neutral-100) 1px;
}

.repHeader {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  margin-top: 10%;
}

.repLink {
  text-decoration: none;
  color: var(--clr-neutral-100);
  text-align: center;
}

.repLink:hover {
  text-decoration: underline;
}

.repDetails {
  font-size: 0.8em;
  margin-left: 1.1em;
  text-align: center;
}

/* SPLIT EFFECT */

.split {
  display: flex;
  flex-direction: column;
}

/* media query */
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {
  h1 {
    color: var(--clr-neutral-100);
    font-family: var(--ff-primary);
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    z-index: 1;
  }

  .navLink {
    color: var(--clr-neutral-100);
    font-weight: 200;
    font-size: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
  }

  .navLink:hover {
    font-weight: 400;
    border: none;
  }

  .navLink:visited {
    color: var(--clr-neutral-100);
  }
}

@media screen and (max-width: 500px) {
  .galleryContainerTop{
    width: 100%; 
    column-count: 2;  
  }

  .galleryContainer {
    width: 100%; 
    column-count: 2; 
  }
}
