:root {
  --ff-primary: "Fira Sans", sans-serif;

  --clr-neutral-100: #ededed;
  --clr-neutral-700: #444444;
  --clr-neutral-900: #171717;

  --clr-highlight-400: #da0037;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

body {
  background: black;
  font-family: var(--ff-primary);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/* Landing Page - Heading */
h1 {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  z-index: 1;
}

h2 {
  color: var(--clr-neutral-100);
}

.darkH2 {
  color: var(--clr-neutral-900);
}

hr {
  color: var(--clr-neutral-100);
}

.darkHR {
  color: var(--clr-neutral-900);
}

/* Landing Page - NAV BAR   */
.navBar {
  align-items: center;
}

.navList {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navLink {
  font-size: 01em;
  font-weight: 200;
  padding: 0.5em 1em;
  text-decoration: none;
}

.navLink:hover {
  border: solid 1px var(--clr-neutral-100);
  border-radius: 10px;
  color: var(--clr-neutral-900);
}

a:hover {
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* Landing Page - mainIMG */
.mainIMG {
  max-width: 100%;
  height: auto;
}

/* Content Section - About Me */
.aboutMe {
  margin: 0 auto;
  padding: 2em;
  max-width: 90%;
  margin-top: 2em;
}

.aboutMeText {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-weight: 100;
}

.aboutMeTextHeader {
  font-family: var(--ff-primary);
  text-align: center;
}

.aboutMeTextLine {
  padding: 1em;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeIMG {
  max-width: 100%;
}

/* VIDEO REELS */

.videoReels {
  background-color: var(--clr-neutral-100);
  padding: 5%;
}

.videoReel {
  padding: 5% 10%;
  padding-top: 0;
  display: block;
  margin: 0 auto;
}

.vimeoButton {
  background-color: var(--clr-neutral-100);
  border: none;
  border-radius: 10px;
  font-family: var(--ff-primary);
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
}

.vimeoButton:hover {
  background-color: var(--clr-neutral-900);
  transition: ease-in-out;
}

.vimeoLink {
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  font-size: 1.8em;
  font-weight: 100;
  text-decoration: none;
}

.vimeoLink:hover {
  color: var(--clr-neutral-100);
  cursor: pointer;
}

/* GALLERY */

.imageGallery {
  margin-top: 2em;
  padding-bottom: 2em;
  padding: 5%;
}
.bgImages {
  padding-top: 1%;
}

.bgImage1,
.bgImage2,
.bgImage3,
.bgImage4,
.bgImage5,
.bgImage6,
.bgImage7,
.bgImage8,
.bgImage9 {
  border: 1px solid black;
  display: inline-block;
  width: 32%;
  padding: 5%;
  padding-bottom: 20%;
}

.bgImage1:hover,
.bgImage2:hover,
.bgImage3:hover,
.bgImage4:hover,
.bgImage5:hover,
.bgImage6:hover,
.bgImage7:hover,
.bgImage8:hover,
.bgImage9:hover {
  border: solid 1px white;
}

.bgImage1 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
}

.bgImage2 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ badass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bgImage3 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ photo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 07%;
}

.bgImage4 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ no\ makeup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.bgImage5 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ blue\ background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.bgImage6 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ LA\ Art\ Walk\ Opening.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.bgImage7 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ actress\ -\ film\ shoot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 0;
}

.bgImage8 {
  background-image: url("media/galleryIMGs/Jenny\ Hutton\ -\ Blonde-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.bgImage9 {
  background-image: url("media/galleryIMGs/Photos\ \ Jenny\ Hutton\ \(3\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

/*WORK */

.projectsHeader {
  color: var(--clr-neutral-900);
  text-align: right;
}

.pastProjects {
  background-color: var(--clr-neutral-100);
  padding: 5%;
}

.filmPhoto {
  max-height: 50vh;
  max-width: 100%;
}

.projectsItem {
  margin-top: 0.5em;
  padding: 0.5em;
}

.projectsItem:hover {
  border: 1px solid black;
}

.projectTitle {
  font-size: 1em;
  font-weight: 400;
}

.projectLink {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.projectLink:hover {
  text-decoration: underline;
  color: var(--clr-neutral-900);
}

.projectLink:visited {
  color: var(--clr-neutral-900);
}

.projectDetails {
  font-size: 1em;
}

.projectDirector {
  font-size: 1em;
}

.projectAwards {
  font-weight: 500;
}

/* CONTACT INFO */

.representationContact {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 5%;
}

.repSectionHeader {
  text-align: left;
}

.repGroup {
  border-left-style: solid var(--clr-neutral-100) 1px;
}

.repHeader {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  margin-top: 10%;
}

.repLink {
  text-decoration: none;
  color: var(--clr-neutral-100);
  text-align: center;
}

.repLink:hover {
  text-decoration: underline;
}

.repDetails {
  font-size: 0.8em;
  margin-left: 1.1em;
  text-align: center;
}

/* SPLIT EFFECT */

.split {
  display: flex;
  flex-direction: column;
}

/* media query */
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {
  h1 {
    color: var(--clr-neutral-100);
    font-family: var(--ff-primary);
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    z-index: 1;
  }

  .navLink {
    color: var(--clr-neutral-100);
    font-weight: 200;
    font-size: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
  }

  .navLink:visited {
    color: var(--clr-neutral-100);
  }
}
